@model List<ContatoModel>
@{
    ViewData["Title"] = "Lista de Contatos";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="text-center">
        <h1>Lista de Contatos</h1>
        <br />

        <div class="d-grid gap-2 d-md-flex justify-context-md-start">
            <a class="btn btn-success" role="button" asp-controller="Contato" asp-action="Criar">
                Adicionar Novo Contato
            </a>
        </div>
        <br />
        @if (TempData["MensagemSucesso"] != null)
        {
            <!--Mensagem de sucesso-->
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-danger btn-sm" id="close-alert" arial-label="Close">X</button>
                @TempData["MensagemSucesso"]
            </div>
        }
        @if (TempData["MensagemErro"] != null)
        {
            <!--Mensagem de erro-->
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm" id="close-alert" arial-label="Close">X</button>
            </div>
        }

        <br />
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Contato</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--Se a Model não for nula e ter algum registro
                O sistema lista cada registro dentro do formulário-->
                @if (Model != null && Model.Any())
                {
                    foreach (ContatoModel contato in Model)
                    {
                        <tr>
                            <th scope="row">@contato.Id</th>
                            <td>@contato.Nome</td>
                            <td>@contato.Email</td>
                            <td>@contato.Contato</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-info" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                                    <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                                </div>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>

</body>
</html>

